
#container{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: 200px 200px 200px;
    padding: 10px;
    background-color: #2196F3;
}

.box {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 40px;
}

.item {
    grid-column: 1 / 5;
}

.item2 {
    grid-row: 2 / 5;
    grid-column: 4 / 5;
}

.item3 {
    grid-column: 1 / 4;
    grid-row: 4 / 5
}

.item4 {
    grid-row: 2 / 4;
}

.item5 {
    grid-column: 2 / 4;
}